
@{
    ViewBag.Title = "Index";
}

@section breadcrumps{
    <div class="ui breadcrumb">
        <a class="section" href="/">Home</a>
        <i class="right angle icon divider"></i>
        <div class="active section">Tenders</div>
    </div>
}

<div class="row">
    <div class="column">
        <div class="ui icon message inverted yellowli">
            <i class="spinner red loading icon"></i>
            <div class="content">
                <div class="header">
                    Module not available
                </div>
                <p>You will be notified when this module is rolled out!.</p>
            </div>
        </div>
    </div>
</div>